.thumb
.pointer

.achievement-wrapper
  %a.milestone-completion-thumb

%h1= milestone.title
%div
  %p.description= milestone.description
.milestone-footer
  .milestone-controls.rfloat

    = link_to edit_milestone_path(milestone), class: 'edit-thumb', remote: true do
      %i.fa.fa-edit

    = link_to milestone_path(milestone), method: 'delete', class: 'del-thumb', remote: true do
      %i.fa.fa-trash-o

  .resource-thumb
    %a.resource-num
    %a.resource-create-thumb
      %i.fa.fa-plus-circle

.side-container
