= render 'tracks/header'

.d-tab-set-container.sjs-track-participants--index--outlet
  = render 'tabs', tabs: track_tabs(track, :milestones)
  .d-tab-body
    #timeline
      #spine
      #milestones.sjs--milestones--index--outlet
        = render 'milestones/index'
        = render 'milestones/dummy_new'
