.thumb
.pointer

.achievement-wrapper
    %a.milestone-completion-thumb

%h1= milestone.title
%div
    %p.description= milestone.description
.milestone-footer
    .milestone-controls.rfloat

        %a.edit-thumb
            %i.fa.fa-edit

        %a.del-thumb
            %i.fa.fa-trash-o

    .resource-thumb
        %a.resource-num
        %a.resource-create-thumb
            %i.fa.fa-plus-circle

.side-container
