%ul#milestone-list
  - track.milestones.each do |milestone|
    %li
      .milestone-inner.sjs-milestones--edit--outlet.sjs-milestones--show--outlet{ 'data-milestone-id' => milestone.id }
        = render 'milestones/show', track: track, milestone: milestone
