.d-tabs.d-tabs--centered
  %span
    = link_to 'Milestones', track_milestones_path(track)
    = link_to 'Participants', track_participants_path(track)
    = link_to 'Settings', track_settings_path(track)
.d-tabs-footer
