= render 'tracks/header'

.d-tab-set-container.sjs-track-participants--index--outlet
  = render 'tracks/tabs', active: 'Milestones'
  .d-tab-body
    #timeline
      #spine
      #milestones.sjs--milestones--index--outlet
        = render 'milestone_list'
        = render 'new_milestone_entry'
