- content_for :head do
  = stylesheet_link_tag 'tracks/show', media: "all"
  = javascript_include_tag 'application'

%h1#track-wrapper
  %span#track-title-label Track: 
  %span#track-title= track.title

- if track.milestones.size > 0
  #timeline
    #spine
    #milestones.sjs--milestones--index--outlet
      = render 'milestone_list', track: track
- else
  .zilch-wrapper
    .smiley :(
    .message Nothing to see here yet. Move along!
