/*
 * Generic dependencies
 * ====================
 *
 *= require pure
 *= require font-awesome
 *= require_self
 */

@import 'mixins/colors';
@import 'mixins/shortcuts';

@import 'components/buttons';
@import 'components/tabs';
@import 'components/zilch_wrapper';
@import 'components/tab_set_container';
@import 'components/notifications';

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
#login-links {
    top: 20px;
    right: 20px;
    position: absolute;
    z-index: 1000;
}
#login-links a {
    color: #ffdf0d;
    font-weight: 400;
    font-size: 1.3em;
    text-decoration: none;
    padding: 5px 10px;
}
#push-down-thumb {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #ffdf0d;
}
#push-down-thumb .icon {
    height: 20px;
    width: 20px;
    margin: 10px auto;
    display: block;
    background: image-url("down_circle.png") no-repeat center center;
    -webkit-animation: pushdown 3s infinite;
}
#banner {
    background: #333;
    height: 100%;
    position: relative;
    background: radial-gradient(center, ellipse cover, #333 0%, #000 100%);
    border-bottom: 3px solid #c8c8c8;
}
#banner .inner-1 {
    background: image-url("stripes.png");
    height: 100%;
}
#banner .inner-1 .inner-2 {
    background: image-url("noise.png");
    height: 100%;
}
#banner .inner-1 .inner-2 .inner-3 {
    position: absolute;
    left: 0;
    top: 33%;
    width: 80%;
    margin: 0 auto;
    position: relative;
}
#banner .inner-1 .inner-2 .inner-3 h1 {
    font-size: 4.5em;
    margin: 0;
    color: #fff;
    font-weight: 400;
    padding-bottom: 20px;
}
#banner .inner-1 .inner-2 .inner-3 h2 {
    font-size: 2.1em;
    color: #e6e6e6;
    font-weight: 200;
}
#banner .popup-form {
    position: absolute;
    z-index: 30;
    top: 60px;
    right: 20px;
    padding: 10px;
    background: #d9d9d9;
    border-top: 1px solid #ffdf0d;
    border-bottom: 1px solid #ffdf0d;
    display: none;
}
#banner .popup-form .arrow {
    position: absolute;
    height: 0;
    width: 0;
    border: 10px solid transparent;
    border-bottom: 10px solid #ffdf0d;
}
#recaptcha_area {
    margin: 10px auto;
}
#login-popup .arrow {
    top: -20px;
    left: 85px;
}
#register-popup .arrow {
    top: -20px;
    right: 40px;
}
#register-popup .page {
    display: none;
}
#register-popup .page-1 {
    display: block;
}
#nav-main {
    float: right;
    padding-top: 1em;
    list-style-type: none;
}
#nav-main li {
    float: right;
    border-radius: 1em;
    margin: 0 0.5em;
    background: #7cb4df;
    border-color: #5d91b8;
    box-shadow: inset #a8d3dd 0 1px 0;
}
#nav-main li a {
    text-decoration: none;
    line-height: 1.6em;
    font-size: 1em;
    display: inline-block;
    padding: 0 1em;
    border-left: 2px solid #a8d3dd;
    color: #fff;
}
#nav-main li a:first-child {
    border-left: none;
}
#descr-promo {
    padding: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#descr-promo .row {
    font-size: 1.5em;
    padding: 10px 0;
}
@keyframes pushdown {
    0% {
	margin-bottom: 20px;
	opacity: 0;
    }
    100% {
	margin-bottom: 10px;
	opacity: 0.6;
    }
}
.page-container {
    width: 90%;
    margin: 20px auto;
}